.btn {
    &--white {
        font-size: 12px;
        font-weight: $font-weight-bold;
        background-color: $white;
        color: $main-blue;
        border: 1px solid $main-blue;
        border-radius: 2rem;
        padding: 0.5rem 2rem;
        &:hover {
            color: $white;
            background-color: $bg-black;
            border: 1px solid $bg-black;
        }
    }
    @media (min-width: 992px) {
        &--white {
            font-size: 14px;
            letter-spacing: 1px;
            padding: 0.8rem 3rem;
        }
    }
}